* {
  margin: 0;
  padding: 0;
}

.main-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 2em;
  color: hsl(208, 49%, 24%);
}

.section-title {
  margin-bottom: 1em;
  color: hsl(208, 49%, 24%);
}

.mt {
  margin-top: 5em;
}

.pl {
  padding-left: 3em;
}

.pr {
  padding-right: 3em;
}

.para {
  margin-bottom: 2em;
  font-size: 18px;
}

.section-para {
  color: hsl(207, 13%, 34%);
}

.v-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section,
.section-with-title-main {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
}

.section-text {
  width: 50%;
}

.section-img-container {
  width: 50%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.translate-y-15 {
  transform: translateY(-15%);
}

.translate-y-25 {
  transform: translateY(-25%);
}

.section-image {
  object-fit: cover;
}

.left-cropped {
  width: 615px;
  height: 700px;
  object-position: 100% 0;
}

.right-cropped {
  width: 520px;
  height: 700px;
  object-position: 0 100%;
}

.section-2 {
  height: 60vh;
  background-image: url('./assets/bg-pattern-circles.svg'),
    linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-position: top 70% left -75%;
  border-bottom-left-radius: 5em;
  border-top-right-radius: 5em;
  display: flex;
  flex-direction: row;
}

.section-2-text {
  display: flex;
  padding-left: 4em;
  padding-right: 8em;
  width: 50%;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}

.section-2-text .para-title {
  font-size: 48px;
  margin-bottom: 1em;
}

.section-2-text .para-title,
.section-2-text .para {
  color: hsl(0, 0%, 100%);
}

.section-2-img-container {
  width: 50%;
}

.section-2-img-container img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .section-with-title {
    padding: 0;
  }
  .section-with-title-main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .section {
    padding: 0;
    flex-direction: column;
    align-items: center;
    transform: translateY(25%);
  }

  .section-text {
    width: 90%;
  }
  .section-img-container {
    width: 100%;
    margin-bottom: 2em;
  }

  .section-image {
    width: 100%;
    display: block;
    height: auto;
    transform: translateY(0);
  }

  .section-2 {
    flex-direction: column;
    height: fit-content;
    margin-top: 4em;
    align-items: center;
    transform: translateY(30%);
    background-position: left 50% top 500%;
  }

  .section-2-img-container {
    width: 100%;
  }

  .section-2-img-container img {
    transform: translateY(-50%);
  }

  .section-2-text {
    width: 80%;
    padding: 0;
    margin-top: 2em;
    transform: translateY(-50%);
    justify-content: flex-start;
    align-items: center;
  }
  p,
  h2 {
    text-align: center;
  }

  p {
    line-height: 2em;
  }
}
